<div class="agency-form">
	<form [formGroup]="formAgency" (ngSubmit)="onSubmit()">
		<app-bcp-text name="agencia" label="Nombre de agencia"></app-bcp-text>
		<app-bcp-text name="direccion" label="Dirección"></app-bcp-text>
		<app-bcp-text name="distrito" label="Distrito"></app-bcp-text>
		<app-bcp-text name="lat" label="Latitud"></app-bcp-text>
		<app-bcp-text name="lon" label="Longitud"></app-bcp-text>
		<div class="agency-form__footer">
			<app-bcp-button
				[isDisabled]="formAgency.invalid"
				[text]="isNewAgency ? 'Guardar' : 'Actualizar'">
			</app-bcp-button>
			<app-bcp-button
				color="secondary"
				(click)="goToAgenciesList()"
				text="Cancelar">
			</app-bcp-button>
		</div>
	</form>
</div>
