.bcp-agencies-container {
  padding-top: 1rem;
  padding-bottom: 60px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {

  .bcp-agencies-container {
    width: 70%;
    margin: auto;
  }

}
