.bcp-agencies-container {
  margin-top: 70px;
  /* padding-top: 1rem;
  padding-bottom: 60px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden; */
}

@media (min-width: 768px) {

  .bcp-agencies-container {
    width: 60%;
    margin: 70px auto;
  }

}
