.agency-list__item {
	position: relative;
	padding: .5rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--clgray);
}

.agency-list__item-img {
	height: 50px;
}

.agency-list__item-info {
	padding-left: 1rem;
}

.agency-list__item-info > p {
	margin-bottom: .1rem;
}

.agency-list__item-info > :nth-child(1) {
	font-weight: bold;
}

.agency-list__item-info > :nth-child(3) {
	font-size: 12px;
}
.agency-list__item-info > :nth-child(3) {
	font-size: 12px;
	color: var(--cgray);
}

.agency-list__footer {
	padding: .5rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: right;
}