<h2>{{ title }}</h2>
<div class="agency-list">
  <div
    *ngFor="let agency of agencies | agenciesFilter : agencyToSearch"
    class="agency-list__item"
    (click)="goToDetail(agency)"
  >
    <img
      [class]="agency.img ? 'agency-list__item-img' : 'agency-list__item-noimg'"
      [src]="agency.img || defaultImg"
      alt="agency"
    />
    <div class="agency-list__item-info">
      <p class="agency-list__item-title">{{ agency.agencia }}</p>
      <p class="agency-list__item-subtitle">{{ agency.distrito }}</p>
      <p class="agency-list__item-decription">{{ agency.direccion }}</p>
    </div>
  </div>
</div>
