<h2>{{ title }}</h2>
<div class="agency-list">
	<div
		*ngFor="let agency of agencies;"
		class="agency-list__item"
		(click)="goToDetail(agency)">
		<img class="agency-list__item-img" src="{{ agency.img || defaultImg }}" alt="agency">
		<div class="agency-list__item-info">
			<p class="agency-list__item-title">{{ agency.agencia }}</p>
			<p class="agency-list__item-subtitle">{{ agency.distrito}}</p>
			<p class="agency-list__item-decription">{{ agency.direccion }}</p>
		</div>
	</div>
	<div class="agency-list__footer">
		<app-bcp-button-circle></app-bcp-button-circle>
	</div>
</div>