.bcp-loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

.bcp-loading__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.bcp-loading__content img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  animation: breathing 1s infinite ease-in-out;
}

@keyframes breathing {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
