.bcp-loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.bcp-loading img {
  height: 5rem;
  animation: breathing 2s ease-in-out infinite;
}

@keyframes breathing {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
