<bcp-header [title]="'Agencias de Lima'"></bcp-header>
<div class="agencies-list-container">
  <section class="agency-list">
    <bcp-agencies-list-items
      *ngIf="controller.agencies.length; else notFoundAgencies"
      [agencies]="controller.agencies"
      (toDetail)="controller.goToDetail($event)"
    ></bcp-agencies-list-items>
    <ng-template #notFoundAgencies>
      <h3 class="agencies-list__notfound">
        No existen agencias según valor indicado
      </h3>
    </ng-template>
  </section>
  <div class="agencies-list__footer">
    <bcp-button-circle (click)="controller.goToDetail()"></bcp-button-circle>
  </div>
</div>
