.agencies-list__notfound {
  color: var(--csecondary);
  text-align: center;
  margin-top: 25%
}

.agencies-list__footer {
  padding: .5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
}
