.agencies-list__notfound {
  color: var(--csecondary);
  text-align: center;
  margin-top: 25%
}

.agencies-list__footer {
  padding: .5rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: inline-block;
}
