<app-bcp-loading *ngIf="state.getLoading(); else agenciesContent"></app-bcp-loading>
<ng-template #agenciesContent>
	<div [ngClass]="['agencies-list-container', !state.getAgencies().length ? 'bcp-container-jcenter' : '']">
		<section class="agency-list">
			<app-agency-list-item *ngIf="state.getAgencies().length; else notFoundAgencies"
				[agencies]="state.getAgencies()"
				(toDetail)="goToDetail($event)"></app-agency-list-item>
			<ng-template #notFoundAgencies>
				<h3 class="agency-list__notfound">No existen agencias según valor indicado</h3>
			</ng-template>
		</section>
	</div>
</ng-template>