:root {
  --cprimary: #2fb199;
  --cprimary-100: #049b671a;
  --csecondary: #ff8f2b;
  --cgray: #a6a6a6;
  --clgray: #f0f0f0;
  --ctext: rgb(99, 99, 99);
}

body {
  background-color: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'BCP Regular', 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
  font-family: 'BCP Bold', 'Courier New', Courier, monospace;
}
