:root {
  --cprimary: #2d47b2;
  --cprimary-100: #012d741a;
  --csecondary: #ff0004;
  --cgray: #a6a6a6;
  --clgray: #f0f0f0;
  --ctext: rgb(99, 99, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'BCP Regular', 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
  font-family: 'BCP Bold', 'Courier New', Courier, monospace;
}

.bcp-container {
  margin-top: 4rem;
}
